/* @name: autobrr
 * @description: Clean theme inspired by the autobrr project
 * @premium: false
 */

[data-theme="autobrr"] {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2103 0.0059 285.8852);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2103 0.0059 285.8852);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2103 0.0059 285.8852);
  --primary: oklch(0.5461 0.2152 262.8809);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.2103 0.0059 285.8852);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9674 0.0013 286.3752);
  --accent-foreground: oklch(0.2103 0.0059 285.8852);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9197 0.0040 286.3202);
  --input: oklch(0.9674 0.0013 286.3752);
  --ring: oklch(0.5461 0.2152 262.8809);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6271 0.1699 149.2138);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --chart-1: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.3703 0.0119 285.8054);
  --sidebar-primary: oklch(0.5461 0.2152 262.8809);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.5461 0.2152 262.8809);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.9197 0.0040 286.3202);
  --sidebar-ring: oklch(0.5461 0.2152 262.8809);
  --radius: 0.5rem;
  --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
}

[data-theme="autobrr"].dark {
  --background: oklch(0.2103 0.0059 285.8852);
  --foreground: oklch(0.9197 0.0040 286.3202);
  --card: oklch(0.2739 0.0055 286.0326);
  --card-foreground: oklch(0.9197 0.0040 286.3202);
  --popover: oklch(0.2739 0.0055 286.0326);
  --popover-foreground: oklch(0.9197 0.0040 286.3202);
  --primary: oklch(0.6231 0.1880 259.8145);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3703 0.0119 285.8054);
  --secondary-foreground: oklch(0.9197 0.0040 286.3202);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.3729 0.0306 259.7328);
  --accent-foreground: oklch(0.9846 0.0017 247.8389);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9846 0.0017 247.8389);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.3703 0.0119 285.8054);
  --ring: oklch(0.6231 0.1880 259.8145);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6271 0.1699 149.2138);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --chart-1: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.2103 0.0059 285.8852);
  --sidebar-foreground: oklch(0.7118 0.0129 286.0665);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.6231 0.1880 259.8145);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}
