/* @name: Nightwalker
 * @description: Dark theme with subtle blue undertones
 * @premium: false
 */

[data-theme="nightwalker"] {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(0.9842 0.0034 247.8575);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.6231 0.1880 259.8145);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9288 0.0126 255.5078);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.6231 0.1880 259.8145);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6271 0.1699 149.2138);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --chart-1: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-accent: oklch(0.9288 0.0126 255.5078);
  --sidebar-accent-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
  --radius: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
}

[data-theme="nightwalker"].dark {
  --background: oklch(0.3121 0.0176 262.2397);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.3473 0.0209 262.5870);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.3473 0.0209 262.5870);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.6231 0.1880 259.8145);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.4078 0.0374 254.5503);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.4078 0.0374 254.5503);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.4078 0.0374 254.5503);
  --accent-foreground: oklch(0.9842 0.0034 247.8575);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.4078 0.0374 254.5503);
  --input: oklch(0.4078 0.0374 254.5503);
  --ring: oklch(0.6231 0.1880 259.8145);
  --chart-2: oklch(0.6231 0.1880 259.8145);
  --chart-3: oklch(0.6271 0.1699 149.2138);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.6368 0.2078 25.3313);
  --chart-1: oklch(0.6268 0.2325 303.9004);
  --sidebar: oklch(0.3473 0.0209 262.5870);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.6231 0.1880 259.8145);
  --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-accent: oklch(0.4455 0.0374 257.2808);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-border: oklch(0.4455 0.0374 257.2808);
  --sidebar-ring: oklch(0.6231 0.1880 259.8145);
  --radius: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}